/* 
    Document   : styles
    Created on : 30/08/2013, 10:20:02
    Author     : juan.gimenez
    Description:
        Purpose of the stylesheet follows.

*/

body{    
    background-color: graytext;
    text-align: center;
    color: aliceblue;
}
section{
    min-width: 700px;
    min-height: 700px;
    padding-top: 25px;    
}
#divSpace{
    width: 700px;
    height: 700px;
    background: gray;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0 auto;
}
#contRow{
    margin-top: 0%;
}
.divrow{
    width: 700px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 0%;                /* Acá controlo la pos izq der de las naves */
}
.divrow li {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.spaces{
    width: 40px;
    display: inline-block;
}
.divrow ul{
    margin: 0px -25px;
}
#divProgrammer{
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    left: 47%;                     /* Acá controlo la pos izq der del programmer */
    bottom: 6%;
}
#divDisparo{
    width: 10px;
    height: 15px;
    position: absolute;
    top : 0px;      /* En -606 px desaparece */
    left: 20px;
}
#divCliente{
    background-color: azure;
    width: 700px;
    height: 6%;
    position: absolute;
    bottom: 0;
    color: darkblue;
    font-size: 16px;
}
.social{
    width: 80%;
    padding-top: 15px;
    height: 100px;  
    margin: 0 auto; 
}